body{
    background-color: #34495e;
    color: #fff;
}

.figure-container {
    fill: transparent; /* circle 등 색 채우기 */
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}